<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }} | PurpleOps Chronicles</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>

  <header>
    <h1><a href="/">PurpleOps Chronicles</a></h1>
 <nav>
  <a href="/purple-ops-chronicles/">Home</a> |
  <a href="/purple-ops-chronicles/about/">About</a> |
  <a href="/purple-ops-chronicles/blog/">Blog</a>
 </nav>
    <hr>
  </header>

  <main>
    {{ content }}
  </main>

</body>
</html>
